.pictures {
    img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
}

h2 {
    color: $color-1;
    font-family: $font-1;
}
h3 {
    color: white;
    background-color: $color-1;
    font-family: $font-1;
    padding: 10px;
}
