.value-list {
    list-style-type: none;
    padding: 10px 60px;
}

.value-item {
    background-color: $color-1;
    margin-top: 20px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: auto;
}

.value-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}

.value-text {
    color: $color-2;
    font-family: $font-1;
    font-size: 18px;
    line-height: 24px;
    flex: 1;
}
