.value-list {
    list-style-type: none;
    padding: 10px 60px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.value-item {
    width: 100%;
    background-color: $color-1;
    margin-top: 20px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-sizing: border-box;
}

.value-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}

.value-text {
    color: $color-2;
    font-family: $font-1;
    font-size: 18px;
    line-height: 24px;
    flex: 1;
}

/* Media Queries */
@media (max-width: 768px) {
    .value-list {
        padding: 10px 30px;
    }

    .collapse-container {
        flex-direction: column;
        gap: 10px;
    }

    .value-item {
        flex: none;
        width: 100%;
    }

    .collapse-content {
        flex: none;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .value-list {
        padding: 10px 15px;
    }

    .value-text {
        font-size: 16px;
        line-height: 22px;
    }

    .arrow {
        width: 20px;
        height: 20px;
    }

    .value-item,
    .collapse-content {
        padding: 5px;
    }

    .collapse-container {
        gap: 5px;
    }
}
